# Ignore image dataset folder
plant-village-dataset/
plant-village-dataset-segmented/
aug/
aug-segmented/

# Ignore .old folder
.old/

# Ignore checkpoints folder
.ipynb_checkpoints

# Ignore __pycache__
__pycache__/